@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Luckiest+Guy&family=Galindo&display=swap");

body {
    font-family: Istok, sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: rgb(223, 218, 209);
    color: #2d2d2d
}

p {
    font-size: x-large;
    width: 70%;
    padding-left: 375px;
}

h1, h2 {
    font-family: Luckiest Guy, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 400%;
    text-align: center;
    padding: 30px 0 30px;
    color: #141414
}

h3 {
    font-family: Istok, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 200%;
    text-align: center;
    padding: 20px 0 20px;
    color: #141414
}

#logo {
    float: left ;
    /* padding-left: 600px; */
    font-size: 600%;
}

#menu {
    letter-spacing: 2px;
    font-size: 105%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2d2d2d;
}

.active {
    border-bottom: 1px solid #2d2d2d;
}

/* homepage gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

.view, .winter {
    height: 487px;
}

.sunset {
    height: 420px;
}

/* Why ramble with us? */

li {
    list-style-type: square;
    text-align: center;
    font-size: x-large;
    padding: 5px 5px;
}

.accessibility, .tour, .trained, .sociable {
    border-color: green;
    border-style: groove;
    background-color: blanchedalmond;
    text-align: center;
    padding-bottom: 40px;   
}

.why-us {
    padding-left: 250px;
}

.accessibility {
    border-width: 4px;
    border-bottom-width: 2px;
}

.trained, .tour {
    border-width: 4px;
    border-bottom-width: 2px;
    border-top-width: 2px;
}

.sociable {
    border-width: 4px;
    border-top-width: 2px;
}

.accessibility > h2, .tour > h2, .trained > h2, .sociable > h2 {
    font-family: Galindo, sans-serif;
    text-transform: capitalize;
}

#group-ethos {
    width: 70%;
    padding-left: 375px;
}

#with-us {
    text-align: center;
    padding: 30px 0 30px;
    font-size: 400%;
}

/* Upcoming walks and events page*/

.cards, .events-cards {
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: auto;
    gap: 80px;
    font-family: Istok, sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.card__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border-right: 2px solid green;
    border-left: 2px solid green;
    border-top: 2px solid green;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card__image:hover {
    opacity: 0.5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.events-img {
    width: 100%;
    height: 750px;
    object-fit: cover;
    display: block;
    border-right: 2px solid green;
    border-left: 2px solid green;
    border-top: 2px solid green;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: blanchedalmond;
    border-right: 2px solid green;
    border-left: 2px solid green;
    border-bottom: 2px solid green;
}

.card__content > h2, h3 {
    padding: 0px;
}

.card-text {
    line-height: 1.5;
    font-size: 2.0em;
    text-align: center;
}

.list-group-item {
    list-style: none;
    text-align: center;
    padding-right: 45px;
}

/* Join Us form */



/* footer */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 2%;
    padding: 5%;
    color: #2d2d2d;
}
