@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Luckiest+Guy&family=Galindo&display=swap");

body {
    font-family: Istok, sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: rgb(223, 218, 209);
    color: #2d2d2d
}

p {
    font-size: larger;
}

h1, h2 {
    font-family: Luckiest Guy, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 400%;
    text-align: center;
    color: #141414
}

#logo {
    float: left ;
    /* padding-left: 600px; */
    font-size: 600%;
}

#menu {
    letter-spacing: 2px;
    font-size: 105%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2d2d2d;
}

.active {
    border-bottom: 1px solid #2d2d2d;
}

/* homepage gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

.view, .winter {
    height: 487px;
}

.sunset {
    height: 420px;
}

li {
    list-style-type: square;
    text-align: center;
    font-size: large;
    padding: 5px 5px;
}

.accessibility, .tour, .trained, .sociable {
    border-color: green;
    border-style: groove;
    background-color: blanchedalmond;
    text-align: center;
    padding-bottom: 40px;
    
}

.accessibility {
    border-width: 4px;
    border-bottom-width: 2px;
}

.trained, .tour {
    border-width: 4px;
    border-bottom-width: 2px;
    border-top-width: 2px;
}

.sociable {
    border-width: 4px;
    border-top-width: 2px;
}

.accessibility > h2, .tour > h2, .trained > h2, .sociable > h2 {
    font-family: Galindo, sans-serif;
    text-transform: capitalize;
}

/* #group-ethos {
    /* border-color: green;
    border-style: groove;
    border-width: 5px;
    background-color: blanchedalmond;
    text-align: center; 
} */

#with-us {
    text-align: center;
    margin: 30px 0;
    font-size: 400%;
}

/* footer */

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 2%;
    padding: 5%;
    color: #2d2d2d;
}