@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Anton&display=swap&family=Galindo&display=swap");

body {
    font-family: Istok, sans-serif;
    font-weight: 300;
    text-align: center;
    background-color: rgb(223, 218, 209);
    color: #2d2d2d
}

p {
    font-size: x-large;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: Anton, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 400%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    color: #141414
}

h2 {
    font-family: Anton, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 280%;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    color: #141414
}

h3 {
    font-family: Istok, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 200%;
    text-align: center;
    color: #141414
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 30px;
}

#menu {
    letter-spacing: 1.5px;
    font-size: 110%;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2d2d2d;
}

.active {
    border-bottom: 1px solid #2d2d2d;
}

/* homepage gallery */

.photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

.photos > img {
    width: 100%;
}

li {
    list-style-type: square;
    text-align: center;
    font-size: x-large;
    padding: 5px 5px;
}

.accessibility, .tour, .trained, .sociable {
    border-color: green;
    border-style: groove;
    background-color: blanchedalmond;
    text-align: center;
    padding-bottom: 40px;   
}

.accessibility {
    border-width: 4px;
    border-bottom-width: 2px;
}

.trained, .tour {
    border-width: 4px;
    border-bottom-width: 2px;
    border-top-width: 2px;
}

.sociable {
    border-width: 4px;
    border-top-width: 2px;
}

.accessibility > h2, .tour > h2, .trained > h2, .sociable > h2 {
    font-family: Galindo, sans-serif;
    text-transform: capitalize;
}

#group-ethos {
    width: 70%;
    margin: 0 auto;
}

#with-us {
    text-align: center;
    padding: 30px 0 30px;
    font-size: 400%;
}

/* Upcoming walks and events page*/

.card {
    position: relative;
    width: 90%;
}

.cards {
    margin: 0 auto;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: auto;
    gap: 80px;
    font-family: Istok, sans-serif;
    padding-top: 30px;
}

.events-cards {
    margin: 0 auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 80px;
    font-family: Istok, sans-serif;
    padding-top: 30px;
}

.cards * {
    box-sizing: border-box;
}

.events-cards * {
    box-sizing: border-box;
}

.card__image {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

iframe {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card__content {
    height: 30vh;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: blanchedalmond;
}

#cover-symbol {
    font-size: 130%;
    color: #fff;
    
    width: 100px;
    height: 100px;

    padding-top: 40px;

    background-color: rgba(223, 52, 30, 0.7);

    top: 30px;

    position: absolute;
}

#cover-symbol-two {
    font-size: 130%;
    color: #fff;
    
    width: 100px;
    height: 100px;

    padding-top: 40px;

    background-color: rgba(223, 52, 30, 0.7);

    top: 30px;

    position: absolute;
}

.card__image:hover {
    opacity: 0.5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.events-img {
    margin-top: 80px;
    width: 100%;
    height: 900px;
    object-fit: cover;
    display: block;
    border-right: 2px solid green;
    border-left: 2px solid green;
    border-top: 2px solid green;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card__content > h2, h3 {
    padding: 0px;
}

.events-content {
    height: 52vh;
    width: 100%;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: blanchedalmond;
    border-right: 2px solid green;
    border-left: 2px solid green;
    border-bottom: 2px solid green;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.events-text {
    line-height: 1.5;
    font-size: 2.0em;
    text-align: center;
}

.list-group-item {
    list-style: none;
    text-align: center;
    padding-right: 45px;
}

/* Join Us form */

.form-section {
    clear: left;
    background: url("https://media.istockphoto.com/photos/international-day-of-persons-with-disabilitiesn3-december-picture-id1250348677?k=20&m=1250348677&s=612x612&w=0&h=YF4Kzxfpi9xd5AxtAhWBW7zSbXkrUE-Il5LfHoqSf2s=");
    background-size: cover;
    background-position: center;
    height: 1400px;
}

.join-us-form {
    margin: 150px 10% 0 0;
    color: rgb(0, 0, 0);
    background-color: rgba(218, 228, 189, 0.4);
    max-width: 600px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.join-us-form > h2 {
    color: black;
    margin-bottom: 20px;
}

.text-input {
    background-color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 2% 20px 0;
}

.text-input:hover {
    border-color: rgba(223, 52, 30, 0.6);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 12px 35px 12px 35px;
    text-align: center;
    font-size: 100%;
    background-color: #265e06;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #cf1818;
}

/* footer */

.social-networks {
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
}

.social-networks > li {
    display: inline;
    margin: 0 auto;
}

.social-networks i {
    font-size: 150%;
    padding: 5%;
    color: #2d2d2d;
}

/* Media queries */

/* For very large screen sizes of 1920px wide and down */

@media screen and (max-width: 1920px) {
    .events-content {
        height: 70vh;
}
}


/* For larger screens from 1200px wide and down */

@media screen and (max-width: 1200px) { 
    .events-img {
        margin-top: 40px;
        width: 100%;
        height: 500px;
    }

    .events-content {
        height: 90vh;
        line-height: 1.2;
        font-size: 0.7em;
        padding: 10px;
    }    
    
    .form-section {
        width: 100%;
        height: 700px;
        background: none;
    }

    .join-us-form {
        position: absolute; 
        left: 0; 
        right: 0; 
        margin: 100px auto auto auto;
        width: 90%; 
        max-height: 600px;
    }

    #events-logo {
        display: none;
    }


    #with-us {
        margin: 0 auto;
    } 
   
   
    .photos {
        column-count: 2;
    }
}

/* For medium sized screens 950px and down */

@media screen and (max-width: 950px) {
    .events-content {
        height: 75vh;
        line-height: 1.1;
        font-size: 0.6em;
        padding: 5px;
    }     

    #group-ethos h2 {
        font-size: 200%;
    }

    .card__image {
        margin: 0 auto;
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    .cards {
        margin: 0 auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-auto-rows: auto;
        gap: 40px;
        font-family: Istok, sans-serif;
        padding-top: 30px;
    }    

    iframe {
        margin: 0 auto;
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
        border: none;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    
    .card {
        margin: 0 auto;
    }

    .card__content {
        height: 25vh;
        line-height: 1.0;
        font-size: 0.4em;
        padding: 5px;
        background: blanchedalmond;
    }
}

/* For small screens of 800px and down */

@media screen and (max-width: 800px) {
    #logo {
        margin: auto;
        width: 100%;
    }

    #menu {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }
    
    .photos {
        column-count: 1;
    }

    .events-content {
        height: 75vh;
        line-height: 1.1;
        font-size: 0.4em;
        padding: 5px;
    }

    .join-us-form {
        margin-top: 30px;
        width: 70%;
    }
}
    
/* For very small screens of 600px and down */

@media screen and (max-width: 600px) {
    #logo {
        font-size: 300%;
    }

    #menu {
        letter-spacing: 1px;
    }

    h2 {
        font-size: 250%;
    }
    
    #group-ethos {
        font-size: 85%;
    }

    p, li {
        font-size: large;
        margin: 0 auto;
        line-height: 1.3;
    }

    #about-us li {
        margin-right: 30px;
    }
    
    .events-content {
        height: 80vh;
        line-height: 1.1;
        font-size: 0.4rem;
    }

    .social-networks i {
        font-size: 100%;
    }
}